* {
    margin: 0;
    padding: 0;
    max-width: 1024px;
    margin: 0px auto;
}

html,
body {
    height: 100%;
    background-image: url("../images/Background4.png");
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 20px;
}

.section {
    height: 100%;
    background-color: beige;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.subSection {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}

.subSectionHome {
    display: flex;
    align-items: stretch;
}

.subSectionHomeWelcome {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.subSectionHomeOpen {
    background-color: white;
    font-size: x-large;
    display: flex;
    flex-wrap: wrap;
}

.imageTextContainer {
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
}

.imageTextContainer p {
    display: table-cell;
    width: 100%;
}

.imageTextContainer p+p {
    display: table-caption;
    caption-side: bottom;
    font-size: small;
}

#sectionhome {
    background-image: url("../Images/home.JPG");
}

#sectionhomeWelcome {
    background-image: url("../Images/home.JPG");
}

#sectionhomeOpen {
    background-image: url("../Images/home.JPG");
}

#sectionnews {
    background-image: url("../Images/News.JPG");
}

#sectionsummer {
    background-image: url("../Images/Summer.JPG");
}

#sectionwinter {
    background-image: url("../Images/Winter.JPG");
}

#sectionovernight {
    background-image: url("../Images/Overnight.JPG");
}

#sectioncontact {
    background-image: url("../Images/Contact.JPG");
}